body{
    width:  100%;
    height: 100%;
    background-color: white;
}
.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider{
    background-color: blue;
}

input:focus +.slider{
    box-shadow: 0 0 1p red;
}

input:checked+.slider.round:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round{
    border-radius: 34px;
}

.slider.round:before{
    border-radius: 50%;
}

#text, #choiceText>p {
    display: inline-block;
}

#choiceText>p, #opaText>p, #value{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

#toggleButton, #choiceList {
    display: inline-block;
}

#onoff {
    margin: 20 auto;
    display: block;
    text-align: center;
}

#choiceText{
    text-align: center;
    display: inline-block;
}

#btn {
    margin: 20 auto;
    display: block;
    text-align: center;
}

#opa {
    text-align: center;
}

#text {
    text-align: center;
}
#toggleButton {
    text-align: center;
}

#choice {
    text-align: center;
}



#opaText {
    text-align: center;
}

.common{
    margin-left: 20px;
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: block;
}


