* {
    margin: 0;
    padding: 0;
}
    body {
        width: 90%;
        margin: 0 auto;
        height: 100%;
        background-color:#354F52;
    }
    div {
        /*position: absolute;*/
        height:100%;
        width:100%;
        /*display: table;*/
        margin-top: 50px;
    }
    h1 {
        /*display: table-cell;*/
        text-align: center;
        color:#CAD2C5;
    }
    #human {
        /*display: table-cell;*/
        width: 30%;
        height: 50%;
        margin-top: 100px;
        margin-left: 650px;
    }
    #mic_off {
        width: 5%;
        height: 10%;
        margin-top: 70px;
        margin-left: 80px;
    }
    #call_off {
        width: 6%;
        height: 13%;
        margin-left: 70px;
    }
    #toast {
        position: fixed;
        bottom: 30px;
        left: 50%;
        padding: 15px 20px;
        transform: translate(-50%, 10px);
        border-radius: 30px;
        overflow: hidden;
        font-size: .8rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity .5s, visibility .5s, transform .5s;
        background: rgba(0, 0, 0, .35);
        color: #fff;
        z-index: 10000;
    }
    #toast.reveal {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0)


    }

     .videoView {
        border: 2px solid black;
    }